---
import Layout from "../../layouts/Layout.astro";

let posts = await Astro.glob("./post/*.md");
console.log("🚀 ~ file: index.astro:5 ~ posts:", posts);
---

<Layout title="Blog | Jackson Oppenheim">
  <p>Blog page</p>
</Layout>
