---
import CldImage from "./CldImage.astro";

interface Props {
  img: {
    path: string;
    alt: string;
    credit: string;
  };
  title: string;
  summary: string;
}

const { img, title, summary } = Astro.props;
---

<section
  class="grid grid-rows-[1fr_auto] justify-items-center gap-4 bg-dark-900 p-6 shadow-lg md:grid-cols-2 md:grid-rows-1 lg:gap-0"
>
  <div
    class="prose relative bottom-12 z-10 row-start-2 h-fit max-w-xs rounded-lg bg-slate-200/80 p-4 md:top-12 md:row-start-1 md:mb-4 md:max-w-prose lg:top-24"
  >
    <h1 class="text-2xl md:text-4xl">{title}</h1>
    <p class="text-sm">{summary}</p>
  </div>
  <div class="relative z-0 row-start-1 md:right-10 lg:bottom-2">
    <CldImage
      class="rounded-lg shadow"
      src={img.path}
      alt={img.alt}
      widths={[400, 600, 800]}
      ratio={[16, 9]}
      medias={["(max-width: 768)", "(max-width: 1024px)"]}
    />
  </div>
</section>
