---
import CldImage from "./CldImage.astro";

interface Props {
  img: {
    path: string;
    alt: string;
    credit: string;
  };
  title: string;
  summary: string;
}

const { img, title, summary } = Astro.props;
---

<section
  class="grid justify-items-center gap-4 bg-dark-900 p-6 shadow-lg lg:gap-0"
>
  <CldImage
    class="relative row-start-1 rounded-lg shadow md:left-10 lg:left-20"
    src={img.path}
    alt={img.alt}
    widths={[400, 600, 800]}
    ratio={[16, 9]}
    medias={["(max-width: 768)", "(max-width: 1024px)"]}
  />
  <div
    class="prose absolute row-start-2 -mb-4 h-fit w-9/12 self-end rounded-lg bg-dark-200/80 p-6 shadow-md prose-h1:text-2xl md:left-10 md:p-8 lg:left-4 lg:row-start-1 lg:mb-4 lg:w-fit prose-h1:lg:text-3xl xl:left-24"
  >
    <h1>{title}</h1>
    <p>{summary}</p>
  </div>
</section>
