---
interface Props {
  omitCurrentPage?: boolean;
}

const { omitCurrentPage } = Astro.props;

const paths = Astro.url.pathname.split("/");
paths.shift();
if (omitCurrentPage) {
  paths.pop();
}
const pathLinks = paths.map((path, i) => {
  return {
    name: path.split("-").join(" ").toLowerCase(),
    url: `/${paths.slice(0, i + 1).join("/")}`,
  };
});
---

<nav aria-label="breadcrumbs" class="text-center md:text-start">
  <span class="text-gray-700"
    ><a href="/" class="hover:underline">home</a> /</span
  >
  {
    pathLinks.map((path) => (
      <span class="text-gray-700 hover:text-slate-900">
        <a href={path.url} class="hover:underline">
          {path.name}
        </a>
        /
      </span>
    ))
  }
</nav>
