---
import Button from "../svelte/Button.svelte";

interface Props {
  dark?: boolean;
}

const { dark } = Astro.props;
---

<form class="grid md:grid-cols-3 gap-x-16 gap-y-8">
  <div class="grid gap-1">
    <label
      for="name"
      class="text-sm font-bold uppercase text-dark-700 after:content-[attr(data-after)]"
      class:list={{
        "text-dark-50": dark,
      }}
      data-after="*">Name</label
    >
    <input
      type="text"
      name="name"
      id="name"
      class="border border-dark-800 focus-within:outline-2 focus-within:outline-primary-500 rounded-md p-2"
    />
  </div>
  <div class="grid gap-1">
    <label
      for="email"
      class="text-sm font-bold uppercase text-dark-700 after:content-[attr(data-after)]"
      class:list={{
        "text-dark-50": dark,
      }}
      data-after="*">Email</label
    >
    <input
      type="email"
      name="email"
      id="email"
      class="border border-dark-800 focus-within:outline-2 focus-within:outline-primary-500 rounded-md p-2"
    />
  </div>
  <div class="grid gap-1">
    <label
      for="phone"
      class="text-sm font-bold uppercase text-dark-700 after:content-[attr(data-after)]"
      class:list={{
        "text-dark-50": dark,
      }}
      data-after="*">Phone</label
    >
    <input
      type="tel"
      name="phone"
      id="phone"
      class="border border-dark-800 focus-within:outline-2 focus-within:outline-primary-500 rounded-md p-2"
    />
  </div>
  <div class="col-span-3 grid gap-1">
    <label
      for="message"
      class="text-sm font-bold uppercase text-dark-700 after:content-[attr(data-after)]"
      class:list={{
        "text-dark-50": dark,
      }}
      data-after="*">Message</label
    >
    <textarea
      name="message"
      id="message"
      rows="5"
      class="border border-dark-800 focus-within:outline-2 focus-within:outline-primary-500 rounded-md p-2 w-full"
    ></textarea>
  </div>
  <Button color="accent">Send message</Button>
</form>
