---
import SectionTitle from "../svelte/SectionTitle.svelte";

import { Icon } from "astro-icon/components";
import Button from "../svelte/Button.svelte";

const year = new Date().getFullYear();
---

<footer>
  <div class="grid bg-dark-800 p-8 text-white sm:grid-cols-2 lg:grid-cols-3">
    <div class=" max-w-xs">
      <SectionTitle offset theme="accent" dark>About</SectionTitle>
      <img
        src="/logos/orange-virt.svg"
        alt="jopp dot dev logo"
        width="150"
        height="150"
      />
      <div class="flex flex-col gap-6">
        <p class="prose prose-invert">
          Jackson is a UX Developer and Web Designer in Minneapolis, MN that
          creates amazing user experiences, and super affordable websites for
          small businesses and non-profits.
        </p>
        <Button link href="/contact">Get in touch</Button>
      </div>
    </div>
    <nav aria-label="Footer">
      <SectionTitle offset theme="accent" dark>Links</SectionTitle>
      <ul>
        <li>
          <a class="hover:underline" href="/">Home</a>
        </li>
        <li>
          <a class="hover:underline" href="/about">About</a>
        </li>
        <li>
          <a class="hover:underline" href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a class="hover:underline" href="/blog">Blog</a>
        </li>
        <li>
          <a class="hover:underline" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="flex flex-col gap-8">
      <div>
        <SectionTitle offset theme="accent" dark>Contact Me</SectionTitle>
        <ul class="prose prose-invert">
          <li><b>Phone:</b> <a href="tel:+14406656551">440.665.6551</a></li>
          <li><b>Email:</b> <a href="mailto:me@jopp.dev">me@jopp.dev</a></li>
        </ul>
      </div>
      <div>
        <SectionTitle offset theme="accent" dark>Socials</SectionTitle>
        <div class="flex">
          <a
            href="https://www.linkedin.com/in/jacksonopp/"
            target="_blank"
            class="hover:text-blue-400"
          >
            <Icon name="mdi:linkedin" />
            <span class="sr-only">Linkedin</span>
          </a>
          <a
            href="https://github.com/jacksonopp"
            target="_blank"
            class="hover:text-blue-400"
          >
            <Icon name="mdi:github" />
            <span class="sr-only">Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-900 p-8 text-white sm:col-span-2 lg:col-span-3">
    <div>&copy; {year} | Jackson Oppenheim</div>
  </div>
</footer>

<style>
  [astro-icon] {
    @apply h-12 w-12;
  }
</style>
