---
import BreadCrumbs from "../components/astro/BreadCrumbs.astro";
import CldImage from "../components/astro/CldImage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="px-16 py-8">
    <BreadCrumbs omitCurrentPage={true} />
  </div>
  <div
    class="grid h-[calc(100vh-500px)] grid-rows-[auto_1fr] justify-center justify-items-center p-8 lg:h-[calc(100vh-300px)]"
  >
    <h1 class="text-5xl">Oops! Looks like we couldn't find this page.</h1>
    <CldImage
      src="portfolio/illustrations/lost_fjbxvh"
      alt="Three people collaborating"
      height={384}
    />
  </div>
</Layout>
