---
import { getEntryBySlug } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import SectionTitle from "../components/svelte/SectionTitle.svelte";

import { Image, Picture } from "@astrojs/image/components";
// import uiSketch from "../images/ui-sketch.png";
// import threeChar from "../images/3char.png";
import Contact from "../components/astro/Contact.astro";

const about = await getEntryBySlug("about", "about");
const { Content: AboutContent } = await about.render();
const abilities = await getEntryBySlug("about", "what-can-i-do");
const { Content: AbilitiesContent } = await abilities.render();

const aboutHero = await getEntryBySlug("hero", "about");
---

<Layout title="About | Jackson Oppenheim">
  <Hero heroContent={aboutHero} />
  <main>
    <article
      class="prose mx-auto max-w-lg px-8 pt-8 pb-16 prose-headings:text-primary-900 md:max-w-xl md:px-0 lg:max-w-2xl xl:max-w-4xl"
    >
      <AboutContent />
    </article>
  </main>
  <section class="bg-dark-300 text-white">
    <div class="p-8 lg:p-16">
      <div
        class="relative -left-10 flex justify-center lg:left-0 lg:justify-start"
      >
        <SectionTitle>What I Can Do For You</SectionTitle>
      </div>
      <p class="prose mx-auto max-w-lg flex-grow lg:max-w-none">
        Here are some of the ways I can help you create exceptional digital
        experiences that meet the needs of your target audience.
      </p>
      <div
        class="prose mx-auto grid max-w-lg justify-evenly gap-8 lg:max-w-none lg:grid-cols-3"
      >
        <div>
          <h3>Information Architecture</h3>
          <Picture
            class="mx-auto h-44"
            src="/images/wheelchair.png"
            alt="Three people collaborating"
            widths={[200, 400, 800]}
            aspectRatio="4:3"
            sizes="(max-width: 800px) 100vw, 800px"
            fit="inside"
          />
          <p>
            I specialize in organizing digital content to make it easy to find
            and navigate through the creation of site maps, wireframes, and
            other documentation.
          </p>
        </div>
        <div>
          <h3>Front-end Development</h3>
          <Picture
            class="mx-auto h-44"
            src="/images/3char.png"
            alt="Three people collaborating"
            widths={[200, 400, 800]}
            aspectRatio="4:3"
            sizes="(max-width: 800px) 100vw, 800px"
            fit="inside"
          />
          <p>
            I use the latest web development technologies to transform design
            concepts into functional, visually appealing interfaces.
          </p>
        </div>
        <div>
          <h3>Accessibility Testing</h3>
          <Picture
            class="mx-auto h-44"
            src="/images/wheelchair.png"
            alt="Three people collaborating"
            widths={[200, 400, 800]}
            aspectRatio="4:3"
            sizes="(max-width: 800px) 100vw, 800px"
            fit="inside"
          />
          <p>
            I ensure digital products are usable by people all levels of ability
            by testing for compliance with web accessibility standards, such as
            WCAG 2.1, and identifying and addressing accessibility issues.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-8 md:p-16">
    <SectionTitle>Contact me</SectionTitle>

    <Contact />
  </section>
</Layout>
