---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";

import ThreeColumn from "../layouts/ThreeColumn.astro";
// import computerPng from "../images/computer.png";
// import pearsonLogo from "../images/pearson-logo.png";
// import sdgLogo from "../images/sdg_Logo-1.png";
// import onvueLogo from "../images/onvue-logo-color.png";
// import virtuwellLogo from "../images/virtuwell-nohp.png";
// import hpLogo from "../images/hp-logo.png";
import SectionTitle from "../components/svelte/SectionTitle.svelte";
import Contact from "../components/astro/Contact.astro";
import CldImage from "../components/astro/CldImage.astro";

const hero = await getEntry("hero", "hompage");
if (!hero) throw new Error("Homepage hero content not found");
---

<Layout title="Jackson Oppenheim, UX Developer">
  <main>
    <Hero heroContent={hero} cta twoColumns={true} />

    <ThreeColumn title="About Me" id="about-me">
      <div slot="col1" class="prose prose-slate">
        <h3 class="mb-[0.5em] text-3xl font-bold">
          UX Development Expertise and Passion
        </h3>
        <p>
          I'm a dedicated UX developer with a passion for creating exceptional
          digital experiences that delight users and drive business success.
          With over 5 years of experience in the field, I specialize in creating
          engaging and intuitive user interfaces that meet the needs of both
          end-users and stakeholders.
        </p>
      </div>

      <CldImage
        src="portfolio/images/IMG_1630_ahx0ak"
        width={400}
        alt="alt"
        slot="col2"
        fit="thumb"
        zoom="0.2"
        ratio={[4, 3]}
        gravity="face"
      />
      <div slot="col3" class="prose">
        <p>
          My expertise spans across a range of industries, including healthcare,
          e-commerce, and education. I have a deep understanding of user
          behavior and constantly stay up-to-date with the latest trends and
          technologies in UX development.
        </p>
        <p>
          Collaboration is at the heart of my approach. I believe that great
          user experiences are the result of close collaboration between
          designers, developers, and stakeholders. I work closely with all team
          members to ensure that every aspect of the user interface is optimized
          for success.
        </p>
      </div>
    </ThreeColumn>
    <section aria-label="companies" class="bg-dark-400">
      <div class="px-16 pt-8">
        <SectionTitle>Companies I've Worked With</SectionTitle>
      </div>
      <div
        class="mx-auto flex flex-wrap items-center justify-evenly gap-8 px-8 pb-8 pt-4 lg:flex-row lg:px-16 lg:py-16"
      >
        <CldImage
          src="portfolio/logos/pearson-logo"
          height={75}
          alt="alt"
          fit="fit"
        />
        <CldImage
          src="portfolio/logos/onvue-logo-color"
          height={75}
          alt="alt"
          fit="fit"
        />
        <CldImage
          src="portfolio/logos/sdg-logo"
          height={75}
          alt="alt"
          fit="fit"
        />
        <CldImage
          src="portfolio/logos/osn_logo_mdmftc"
          height={75}
          alt="alt"
          fit="fit"
        />
        <CldImage
          src="portfolio/logos/new_vw_logo_scgdnb"
          height={75}
          alt="alt"
          fit="fit"
        />
        <CldImage
          src="portfolio/logos/hp-logo_rtwde9"
          height={75}
          alt="alt"
          fit="fit"
        />

      </div>
    </section>
    <section class="p-16" aria-labelledby="contact">
      <SectionTitle id="contact">Contact Me</SectionTitle>
      <Contact />
    </section>
  </main>
</Layout>
