---
import { getEntryBySlug } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
const hero = await getEntryBySlug("hero", "hompage");
---

<Layout title="Jackson Oppenheim, UX Developer">
  <main>
    <Hero heroContent={hero} cta />
  </main>
</Layout>
