---
import BlogHero from "../components/astro/BlogHero.astro";
import BreadCrumbs from "../components/astro/BreadCrumbs.astro";
import CldImage from "../components/astro/CldImage.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
// const heroSide = frontmatter.heroSide;
const { heroSide, title, summary, image } = frontmatter;
---

<Layout title={frontmatter.title}>
  <!-- Hero Section -->
  <BlogHero img={image} summary={summary} title={title} />
  <div class="px-16 pt-2">
    <BreadCrumbs />
  </div>
  <!-- Article -->
  <article
    class="prose mx-auto max-w-lg py-16 px-8 prose-headings:text-primary-900 prose-blockquote:border-accent-500 md:max-w-xl md:px-0 lg:max-w-2xl xl:max-w-4xl"
  >
    <slot />
  </article>
</Layout>

<style></style>
