---
import SectionTitle from "../components/svelte/SectionTitle.svelte";

interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<section
  aria-labelledby={id}
  class="grid justify-items-center gap-x-4 px-8 py-16 md:grid-cols-2 md:p-16 lg:grid-cols-3"
>
  <SectionTitle
    classes="lg:col-span-3 md:col-span-2 justify-self-start md:left-0"
    id={id}
    offset
  >
    {title}
  </SectionTitle>
  <slot name="col1" />
  <slot name="col2" />
  <slot name="col3" />
</section>
